body{
background-color: black;
}

.papas{
height: 1350px; width: 2750px;
}

h1{
padding: 20px ;
color: white;
font-size: 50px;
}

.papasdeidad{
display: flex;
justify-content: center;
align-items: center;
}

.cajadepapas{
display: flex;
flex-direction: row;
justify-content: flex-start;    
}

.cpapas{
margin-left: 50px;
margin-right: 50px;    
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}